{% extends 'all/main.html' %}


{% block content %} 

<style>
    body{
      background-image: url("https://i.pinimg.com/originals/bc/c4/40/bcc44098a28d3b9c83696be6f55c693a.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    </style>


<header style="padding-top:8rem;">
    <div class="container" style="text-align: center;">
        <div class="masthead-subheading" style="font-size: 7rem; color: rgb(71, 84, 153); font-family: san-serif;"><b>Welcome To My Gallery App!</b></div><br>
        <div class="masthead-heading text-uppercase" style="font-size: 4rem; color: whitesmoke; font-family: monospace;"><b>A Application To View photos </b></div><br><br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="images">Click here to view My Gallery</a><br><br><br>
    </div>
</header>


{% endblock %}