{% extends 'all/main.html' %} {% block content %}
<style>
body{
  background-image: url("https://cdn.wallpapersafari.com/99/8/pltGD3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

</style>
<br><br><br>

<div class="container">
  <h2 style="text-align: center; font-family: monospace;color:white">My Gallery</h2>
  <div class="row">
    {% for image in images %}

    <div class="col-md-4 col-sm-4 col-xs-4" id="img1">
      <img src="{{image.image.url}}" class="img-responsive img-thumbnail" data-toggle="modal" data-target="#{{image.id}}" height="400px" width="400px" />
    </div>

    <div class="modal fade center" id="{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
      <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
          <div class="modal-heading">
            <h3 class="modal-title w-100 text-center" id="imagetitle"> {{image.name}} </h3>
            <button type="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{image.image.url}}" alt="Card image cap"/>
            <p class="card-text photo"><b>Image Description :</b> {{image.description}}.</p>
            <p class="card-text shot"><b>Location: </b>{{image.image_location}}</p>
            <p class="card-text cate"><b>Category: </b>{{image.image_category}}</p>
            <p><b>Uploaded at: </b>{{ image.date_created }}</p>
            <div class="col-xs-10">
              <input class="form-control input-md responsive" type="text" value="https://ngenoh-gallery.com/{{image.url}}" id="myInput">
                <button type="button" class="btn btn-primary" onclick="copylink()" style="margin-right: 50%;">Copy Link</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding-left: 10%;text-align: center;">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    function copylink() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
      alert("Copied the text: " + copyText.value);
    }
</script>



{% endblock content %}